&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    /* Definim canalul 3 (care e legat intern la GPIO 39) */
    channel@3 {
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};